body.lstr-qswitcher-noscroll
{
  overflow: hidden;
}


body.lstr-qswitcher-noscroll .lstr-qswitcher-overlay,
body.lstr-qswitcher-noscroll .lstr-qswitcher-container {
  z-index: 9999;
}

.lstr-qswitcher-overlay
{
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.lstr-qswitcher-header {
  display: flex;
}
.lstr-qswitcher-search-container
{
  margin: 12px;
  padding: 0 12px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px #5468ff;
  height: 56px;
  display: flex;
  width: 100%;
  align-items: center;
}
.lstr-qswitcher-search-icon
{
  color: #5468ff;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    stroke-width: 1.6;
    height: 24px;
    width: 24px;
  }
}

.lstr-qswitcher-footer
{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  user-select: none;
  padding: 0 12px;
  height: 44px;
  border-radius: 0 0 8px 8px;
  background-color: #ffffff;
  box-shadow: 0 -1px 0 0 #e0e3e8, 0 -3px 6px 0 rgba(69, 98, 155, .12);
}

.lstr-qswitcher-container
{
  display: none;
  position: fixed;
}

input.lstr-qswitcher-search
{
  appearance: none;
  border: 0;
  padding: 0 0 0 8px;
  color: #000000;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 56px;
  height: 100%;
  background: transparent;
  outline: none;
  width: 80%;
}

.lstr-qswitcher-results,
.lstr-qswitcher-no-terms,
.lstr-qswitcher-no-results,
.lstr-qswitcher-oops-results
{
  margin: 0 10px 10px 10px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
}

@media (max-width: 499px) {
  .lstr-qswitcher-container
  {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  .lstr-qswitcher-breadcrumb li
  {
    margin: 0 12px 12px 12px;
  }

  .lstr-qswitcher-help
  {
    display: none;
    margin: 10px 10px 0 0;
  }

  .lstr-qswitcher-no-terms,
  .lstr-qswitcher-no-results,
  .lstr-qswitcher-oops-results,
  .lstr-qswitcher-results li
  {
    padding: 12px 9px 12px 9px;
  }

  .lstr-qswitcher-popup
  {
    background-color: #f5f6f7;
    height: 100%;
    border: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
  }

  .lstr-qswitcher-close,
  .lstr-qswitcher-close:focus,
  .lstr-qswitcher-close:hover
  {
    color: #666666;
    display: inline-block;
    font-size: 1.6em;
    line-height: 0.5em;
    font-weight: bold;
    padding: 12px;
    margin-bottom: 5px;
    float: right;
    text-align: right;
    text-decoration: none;
  }
}

@media (min-width: 500px)  {
  .lstr-qswitcher-container
  {
    top: 60px;
    width: 500px;
    margin: 0 0 0 -250px;
    left: 50%;
    font-size: .9em;
  }

  .lstr-qswitcher-breadcrumb li
  {
    margin: 0px 10px 5px 10px;
  }

  .lstr-qswitcher-help
  {
    margin: 10px 0 0 0;
    color: #969faf;
  }
  .lstr-qswitcher-command-key
  {
    display: flex;
    height: 18px;
    width: 20px;
    color: #969faf;
    align-items: center;
    justify-content: center;
    padding: 0 0 1px;
    margin-right: 0.4em;
    border-radius: 2px;
    background: linear-gradient(-225deg, #d5dbe4, #f8f8f8);
    box-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, .4);
  }
  .lstr-qswitcher-command-label
  {
    line-height: 1.6em;
  }


  .lstr-qswitcher-results,
  .lstr-qswitcher-no-terms,
  .lstr-qswitcher-no-results,
  .lstr-qswitcher-oops-results
  {
    width: 480px;
    max-height: 320px;
  }

  .lstr-qswitcher-results li
  {
    padding: 7px 9px 7px 9px;
  }

  .lstr-qswitcher-popup
  {
    position: relative;
    background-color: #f5f6f7;
    box-shadow: inset 1px 1px 0 0 hsla(0,0%,100%,.5),0 3px 8px 0 #555a64;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
  }

  .lstr-qswitcher-close
  {
    display: none;
  }
}

@media (max-height: 426px) {
  .lstr-qswitcher-container {
    height: 100%;
    top: 0;
    margin-top: 0;
  }

  .lstr-qswitcher-popup {
    height: 100%;
  }
}

.lstr-qswitcher-container *
{
  box-sizing: border-box;
}

.lstr-qswitcher-help ul:after
{
  content: "";
  display: table;
  clear: both;
}

.lstr-qswitcher-help ul
{
  list-style-type: none;
  margin: 0 0 0 5px;
  padding: 0;
  font-size: .9em;
  float: right;
}

.lstr-qswitcher-help li
{
  margin: 0 10px 5px 5px;
  padding: 0;
  float: left;
  display: flex;
}

.lstr-qswitcher-help em
{
  font-style: normal;
  font-weight: bold;
  margin: 0 3px 0 0;
}

.lstr-qswitcher-breadcrumb {
  margin: -10px 0 0 6px;
}

.lstr-qswitcher-breadcrumb ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: .9em;
  color: #999;
  float: left;

}

.lstr-qswitcher-breadcrumb li
{
  float: left;
  padding: 0;
}

.lstr-qswitcher-breadcrumb li+li:before
{
  content: ">";
  display: block;
  float: left;
  margin: 0 5px;
}


.lstr-qswitcher-loading
{
  display: none;
  margin: 0 10px 10px 10px;
}

.lstr-qswitcher-no-terms, .lstr-qswitcher-no-results
{
  display: none;
}

.lstr-qswitcher-results ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lstr-qswitcher-results li
{
  width: 100%;
  font-size: 1em;
  line-height: 1em;
  cursor: pointer;
}

.lstr-qswitcher-results a
{
  display: block;
  width: 100%;
}

li.lstr-qswitcher-result-selected
{
  background-color: #3274ce;
  color: #ffffff;
  border-radius: 3px;
}

li .lstr-qswitcher-result-description {
  font-size: .9em;
  margin-left: 10px;
  float: right;
  color: #999;
}

li.lstr-qswitcher-result-selected .lstr-qswitcher-result-description {
  color: #ffffff;
}
